<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pk.section.title</key>
		<string>adjustments 1</string>
		<key>pk.section.items</key>
		<array>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>saturation</string>
				<key>pk.entity.subtitle</key>
				<string>color adjustment</string>
				<key>pk.entity.type</key>
				<integer>0</integer>
				<key>pk.entity.value</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>grayscale</string>
				<key>pk.entity.subtitle</key>
				<string>color adjustment</string>
				<key>pk.entity.type</key>
				<integer>0</integer>
				<key>pk.entity.value</key>
				<real>0.4</real>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>lightness</string>
				<key>pk.entity.subtitle</key>
				<string>color adjustment</string>
				<key>pk.entity.type</key>
				<integer>0</integer>
				<key>pk.entity.value</key>
				<real>0.5</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>pk.section.title</key>
		<string>adjustment 2</string>
		<key>pk.section.items</key>
		<array>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>none</string>
				<key>pk.entity.subtitle</key>
				<string>type none</string>
				<key>pk.entity.type</key>
				<integer>0</integer>
				<key>pk.entity.value</key>
				<string>1</string>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>a switch</string>
				<key>pk.entity.subtitle</key>
				<string>type switch/toggle</string>
				<key>pk.entity.type</key>
				<integer>1</integer>
				<key>pk.entity.value</key>
				<true/>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>a segmented control</string>
				<key>pk.entity.subtitle</key>
				<string>section number</string>
				<key>pk.entity.type</key>
				<integer>2</integer>
				<key>pk.entity.value</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
				</array>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>sample item</string>
				<key>pk.entity.subtitle</key>
				<string>color adjustment</string>
				<key>pk.entity.type</key>
				<integer>3</integer>
				<key>pk.entity.value</key>
				<real>0.5</real>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>sample item</string>
				<key>pk.entity.subtitle</key>
				<string>color adjustment</string>
				<key>pk.entity.type</key>
				<integer>4</integer>
				<key>pk.entity.value</key>
				<real>0.5</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
