<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>pk.section.title</key>
		<string>调整</string>
		<key>pk.section.items</key>
		<array>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>饱和度</string>
				<key>pk.entity.subtitle</key>
				<string>色彩调整</string>
				<key>pk.entity.type</key>
				<integer>2</integer>
				<key>pk.entity.value</key>
				<real>0.3</real>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>灰度</string>
				<key>pk.entity.subtitle</key>
				<string>色彩调整</string>
				<key>pk.entity.type</key>
				<integer>2</integer>
				<key>pk.entity.value</key>
				<real>0.4</real>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>亮度</string>
				<key>pk.entity.subtitle</key>
				<string>色彩调整</string>
				<key>pk.entity.type</key>
				<integer>2</integer>
				<key>pk.entity.value</key>
				<real>0.5</real>
			</dict>
		</array>
	</dict>
	<dict>
		<key>pk.section.title</key>
		<string>调整2</string>
		<key>pk.section.items</key>
		<array>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>开关</string>
				<key>pk.entity.subtitle</key>
				<string>色彩调整</string>
				<key>pk.entity.type</key>
				<integer>1</integer>
				<key>pk.entity.value</key>
				<true/>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>灰度</string>
				<key>pk.entity.subtitle</key>
				<string>色彩调整</string>
				<key>pk.entity.type</key>
				<integer>2</integer>
				<key>pk.entity.value</key>
				<real>0.4</real>
			</dict>
			<dict>
				<key>pk.entity.name</key>
				<string></string>
				<key>pk.entity.title</key>
				<string>亮度</string>
				<key>pk.entity.subtitle</key>
				<string>色彩调整</string>
				<key>pk.entity.type</key>
				<integer>2</integer>
				<key>pk.entity.value</key>
				<real>0.5</real>
			</dict>
		</array>
	</dict>
</array>
</plist>
